<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message.ly: Register</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/auth/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" name="password"><br>
        <label for="first_name">First name:</label>
        <input type="text" name="first_name"><br>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name"><br>
        <label for="phone">Phone:</label>
        <input type="text" name="phone"><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>